h2 {
    background-color: bisque;
}

section {
    background-color: greenyellow;
}

section.section1 {
    background-color: orange;
}

p {
    background-color: orange;
}

p.parrafoazul {
    background-color: blue;

}

div {
    display: inline-block;

}
nav  {
    display: block;
}